<?php
$this->assign('title', 'homepage ');
$this->layout="homelayout";
?>


<div class="container">

    <!-- Outer Row -->
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">
            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block login-image"></div>

                        <div class="col-lg-6 d-none"></div>
                        <div class="col-lg-6">
                            <div class="p-5">

                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Login</h1>
                                </div>

                                <form class="user">
                                    <div class="form-group">
                                        <input type="email" class="form-control form-control-user" id="exampleInputEmail" aria-describedby="emailHelp" placeholder="Enter Email Address...">
                                    </div>

                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" id="exampleInputPassword" placeholder="Password">
                                    </div>

                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input type="checkbox" class="custom-control-input" id="customCheck">
                                            <label class="custom-control-label" for="customCheck">Remember Me</label>
                                        </div>

                                    </div>
                                    <a class="btn btn-primary btn-user btn-block">
                                            <?= $this->Html->link('Login', ['controller' => 'Dashboard', 'action' => 'index']) ?>
                                    </a>
                                </form>

                                <hr>
                                <div class="text-center">
                                    <a class="small" href="forgot-password.html">Forgot password?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" href="register.html">Register</a>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

<!-- <div class="wordinoption">
    <p
    <h1 align="center">
        <?= $this->Html->link('Login', ['controller' => 'Dashboard', 'action' => 'index']) ?>
    </h1>
    </p>
</div> -->


